<div style="text-align: center; margin-top: 40px;">
    <h2>Sign Up</h2>
    <div *ngIf="invalidInfo.length > 0">
        <ul style="
        list-style-type: none;
        color: red;
        font-weight: bold;
        background-color: #f8d7da;
        border-radius: 5px;
        padding: 10px;
        width: 800px;
        margin: 0 auto;
        text-align: center;
    ">
            <div *ngFor="let message of invalidInfo">
                <li>{{ message }}</li>
            </div>
        </ul>
        <br>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput required />
        </mat-form-field><br>

        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput required />
        </mat-form-field><br>

        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="pswd" matInput required />
        </mat-form-field>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="signUpForm.get('pswd')?.errors?.['hasUpperCase']">
            Password must contain at least one uppercase letter.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="signUpForm.get('pswd')?.errors?.['hasLowerCase']">
            Password must contain at least one lowercase letter.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="signUpForm.get('pswd')?.errors?.['hasNumeric']">
            Password must contain at least one number.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="signUpForm.get('pswd')?.errors?.['hasSpecialChar']">
            Password must contain at least one special character.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="signUpForm.get('pswd')?.errors?.['isLongEnough']">
            Password must be at least 8 characters long.
        </div>
        <br>
        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="confirmPswd" matInput required />
        </mat-form-field>
        <div *ngIf="
	signUpForm.hasError('passwordMismatch') &&
	signUpForm.get('confirmPswd')?.dirty &&
	signUpForm.get('confirmPswd')?.touched
" style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;">
            Passwords do not match.
        </div><br>
        <div style="width: 40%; text-align: left; margin: auto;">
            <ng-picker-overlay [apikey]="FILESTACK_API_KEY" (uploadSuccess)="onUploadSuccess($event)">
                <button matButton
                    style="margin-left: -12px; margin-top: -10px; font-size: 1em; color: greenyellow;">Choose Profile
                    Picture</button>
            </ng-picker-overlay>
        </div>

        <button mat-raised-button type="submit" [disabled]="signUpForm.invalid" color="primary">Submit</button><br><br>
        <a mat-button color="accent" style="color: rgb(144, 144, 236)" href="/login">Already have an account? Log In</a>
    </form>
</div>