<div *ngIf="resetLinkSent" style="
        color: greenyellow;
        font-weight: bold;
        background-color: green;
        border-radius: 5px;
        padding: 10px;
        width: 800px;
        margin: 0 auto;
        text-align: center;
    ">
    Reset link sent successfully! Please check your email to reset your password.
    <br>
</div>
<div style="text-align: center;">
    <h2>Forgot Password</h2>
    <div *ngIf="invalidInfo.length > 0">
        <ul style="
            list-style-type: none;
            color: red;
            font-weight: bold;
            background-color: #f8d7da;
            border-radius: 5px;
            padding: 10px;
            width: 800px;
            margin: 0 auto;
            text-align: center;">
            <div *ngFor="let message of invalidInfo">
                <li>{{ message }}</li>
            </div>
        </ul>
        <br>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Email</mat-label>
            <input matInput required type="email" name="email" formControlName="email" />
        </mat-form-field>
        <div *ngIf="forgotPasswordForm.invalid" class="error">
            Valid email is required.
        </div><br>

        <button mat-raised-button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button><br>
        <a href="/login" style="color: rgb(144, 144, 236); width: 400px;" mat-raised-button>Back to Login</a>
    </form>
</div>