<div style="text-align: center; margin-top: 40px;">
    <h2>Login</h2>

    <!-- Error Box -->
    <div *ngIf="invalidInfo.length > 0">
        <ul style="
            list-style-type: none;
            color: red;
            font-weight: bold;
            background-color: #f8d7da;
            border-radius: 5px;
            padding: 10px;
            width: 800px;
            margin: 0 auto;
            text-align: center;">
            <li *ngFor="let message of invalidInfo">{{ message }}</li>
        </ul>
        <br>
    </div>

    <!-- Login Form -->
    <div style="width: 45%; margin: auto; min-width: min-content;">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <!-- Email Field -->
            <mat-form-field appearance="fill" class="w-full" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" [(ngModel)]="email" required email
                    #emailInput="ngModel" />
            </mat-form-field>
            <div *ngIf="emailInput.invalid && (emailInput.touched || loginForm.submitted)" class="error"
                style="color: red;">
                Valid email is required.
            </div>

            <!-- Password Field -->
            <mat-form-field appearance="fill" class="w-full" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password' " id="password" name="password"
                    [(ngModel)]="password" required minlength="6" #passwordInput="ngModel" />
                <button matSuffix mat-icon-button aria-label="Toggle password visibility"
                    (click)="togglePasswordVisibility()" type="button" style="margin-right: 8px; margin-top: 4px;">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon></button>
            </mat-form-field>
            <div *ngIf="passwordInput.invalid && (passwordInput.touched || loginForm.submitted)" class="error"
                style="color: red;">
                Password must be at least 6 characters.
            </div>
            <br>

            <!-- Submit Button -->
            <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Submit</button>
            <br><br>

            <!-- Links -->
            <div
                style="display: flex; justify-content: space-between; margin-top: 20px; width: 100%; height: min-content;">
                <a href="/signup"
                    style="color: rgb(144, 144, 236); width: 28%; margin-left: 5%; height: 100%; padding: 10px;"
                    mat-raised-button>
                    Don't have an account? Sign Up
                </a>

                <a href="/forgot-password"
                    style="color: rgb(144, 144, 236); width: 28%; margin-right: 5%; height: 100%; padding: 10px;"
                    mat-raised-button>
                    Forgot Password?
                </a>
            </div>
        </form>
        <div style="display: flex; gap: 40px; margin: auto; justify-content: center;">
            <button mat-raised-button color="primary" (click)="signInWithGoogle()"
                style="color: rgb(144, 144, 236); margin-top: 20px; width: 35%; height: 40px;" type="button">
                <div style="display: flex; vertical-align: middle; margin-right: 8px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
                        style="height: 20px; width: auto; margin-right: 7px;">
                    <span style="margin-top: 2px;">
                        Sign In with Google
                    </span>
                </div>
            </button>
            <button mat-raised-button color="primary" (click)="signInWithGithub()"
                style="color: rgb(144, 144, 236); margin-top: 20px; width: 35%; height: 40px;" type="button">
                <div style="display: flex; vertical-align: middle; margin-right: 8px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Github_logo_svg.svg"
                        style="height: 20px; width: auto; margin-right: 7px;">
                    <span style="margin-top: 2px;">
                        Sign In with Github
                    </span>
                </div>
            </button>
        </div>
    </div>
</div>