<div *ngIf="passwordResetSuccessfully" style="
        color: greenyellow;
        font-weight: bold;
        background-color: green;
        border-radius: 5px;
        padding: 10px;
        width: 800px;
        margin: 0 auto;
        text-align: center;
    ">
    Password reset successfully!
    <br>
</div>
<div style="text-align: center;">
    <h2>Forgot Password</h2>
    <div *ngIf="invalidInfo.length > 0">
        <ul style="
            list-style-type: none;
            color: red;
            font-weight: bold;
            background-color: #f8d7da;
            border-radius: 5px;
            padding: 10px;
            width: 800px;
            margin: 0 auto;
            text-align: center;">
            <div *ngFor="let message of invalidInfo">
                <li>{{ message }}</li>
            </div>
        </ul>
        <br>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="pswd" matInput required />
        </mat-form-field>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="resetPasswordForm.get('pswd')?.errors?.['hasUpperCase']">
            Password must contain at least one uppercase letter.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="resetPasswordForm.get('pswd')?.errors?.['hasLowerCase']">
            Password must contain at least one lowercase letter.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="resetPasswordForm.get('pswd')?.errors?.['hasNumeric']">
            Password must contain at least one number.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="resetPasswordForm.get('pswd')?.errors?.['hasSpecialChar']">
            Password must contain at least one special character.
        </div>
        <div style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;"
            *ngIf="resetPasswordForm.get('pswd')?.errors?.['isLongEnough']">
            Password must be at least 8 characters long.
        </div>
        <br>
        <mat-form-field appearance="fill" class="w-full" style="width: 600px;">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="confirmPswd" matInput required />
        </mat-form-field>
        <div *ngIf="
	resetPasswordForm.hasError('passwordMismatch') &&
	resetPasswordForm.get('confirmPswd')?.dirty &&
	resetPasswordForm.get('confirmPswd')?.touched
" style="width: 600px; color: red; background-color: #f8d7da; margin: 0 auto;">
            Passwords do not match.
        </div><br>

        <button mat-raised-button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button><br>
        <a href="/login" style="color: rgb(144, 144, 236); width: 400px;" mat-raised-button>Back to Login</a>
    </form>
</div>