<div style="position: absolute; top: 15px; right: 10px; text-align: right;">
    <a href="/profile">
        <img src="{{ userPfp }}" alt="👤" style="height: 45px; width: 45px; border-radius: 50%; cursor: pointer;"
            title="{{userName}}" />
    </a>
    <br>
    <a href="/logout">
        <button matButton color="warn" style="color: red; width: 50px; height: auto; font-size: 1.3em;">Logout</button>
    </a>
</div>

<div style="text-align: center; width: 85%; margin: 15px auto auto auto;">
    <div style="width: 60%; margin: auto; display: flex;">
        <div style="flex: 3;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Search</mat-label>
                    @if (isSearching) {
                    <button mat-icon-button matSuffix (click)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                    <input matInput formControlName="searchControl">
                </mat-form-field>
            </form>
        </div>
        <div style="flex: 0.2;"></div>
        <div style="flex: 1;">
            <mat-form-field>
                <mat-label>Filter by event start</mat-label>
                <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
                    <input matStartDate formControlName="start" placeholder="Start date" (click)="clearStartDate()"
                        title="Click to clear (MM/DD/YYYY)">
                    <input matEndDate formControlName="end" placeholder="End date" (click)="clearEndDate()"
                        title="Click to clear (MM/DD/YYYY)">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                @if (range.controls.start.hasError('matStartDateInvalid') ||
                range.controls.start.hasError('matDatepickerParse')) {
                <mat-error>Ignoring invalid start date. </mat-error>
                }
                @if (range.controls.end.hasError('matEndDateInvalid') ||
                range.controls.end.hasError('matDatepickerParse')) {
                <mat-error>Ignoring invalid end date. </mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    <h1 style="width: 100%;text-align: left; font-size: 1.5em;">Upcoming events</h1>
    @if (events.length === 0) {
    No events found.
    }
    <div style="align-items: right; display:flex; flex-wrap: wrap; gap: 16px; justify-content: left;">
        @if (!isSearching && currentPage === 1) {
        <mat-card
            style="width: calc(25% - 16px); min-width: 200px; max-width: 400px; cursor: pointer; padding: 4px; vertical-align: middle; text-align: center;">
            <a href="/create-event"
                style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-decoration: none; font-size: 200px; color: cyan;">
                +
            </a>
        </mat-card>
        }
        @for(item of events; track item.title) {
        <mat-card
            style="width: calc(25% - 16px); min-width: 200px; max-width: 400px; cursor: pointer; padding: 4px; vertical-align: center; text-align: center;"
            (click)="eventClicked($index)">
            <mat-card-content style="padding: 0;">
                <div style="position: relative; height: 220px; overflow: hidden;">
                    <img src="{{ item.picture }}" alt="Event Banner" style="
				width: 90%;
				height: 100%;
                margin: auto;
				object-fit: contain;
				display: block;
			" />
                    <span style="
				position: absolute;
				bottom: 6px;
				right: 6px;
				background-color: rgba(0, 0, 0, 0.6);
				color: white;
				padding: 4px 8px;
				border-radius: 4px;
				font-size: 0.85rem;
			">
                        🕙{{ item.beginsAt | date: 'h:mm a' }}
                    </span>
                    <span style="
				position: absolute;
				bottom: 6px;
				left: 6px;
				background-color: rgba(0, 0, 0, 0.6);
				color: white;
				padding: 4px 8px;
				border-radius: 4px;
				font-size: 0.85rem;
			">
                        📅{{ item.beginsAt | date }}
                    </span>
                </div>
            </mat-card-content>

            <mat-card-title
                style="font-size: 1.1em; font-weight: bold; width: 100%; text-align: left; margin-left: 12px; margin-bottom: 6px; margin-top: 5px;">
                {{ item.title }}
                <br>
                <div
                    style="margin-top: 20px; display: flex; align-items: center; gap: 8px; font-weight: normal; font-size: 0.8em;">
                    <img #imgRef src="{{ item.organizerId.pfp }}" alt="👤"
                        style="height: 25px; width: 25px; border-radius: 50%;"
                        (error)="imgRef.style.display='none'; emojiRef.innerHTML='👤'; emojiRef.style.display='inline';" />
                    <span #emojiRef style="display: none; font-size: 1.1em;"></span>
                    <span>{{ item.organizerId.name }}</span>
                    <br>
                </div>
                <div style="font-weight: normal; font-size: 0.8em;">
                    @if(item.isVirtual) {📽️ Virtual}
                    @if (!item.isVirtual) {📍In-Person }
                </div>
            </mat-card-title>
            <span style="
                    text-align: right;
				position: absolute;
				top: 6px;
				right: 6px;
				color: white;
				padding: 4px;
				border-radius: 4px;
				font-size: 0.85rem;
			">
                @for(tag of item.tags; track tag) {
                <span
                    style="text-align: right; margin-right: -5px; margin-bottom: 4px; width: fit-content; padding-left: 4px; padding-right: 4px; background-color: rgba(0, 0, 0, 0.6); border-radius: 5px;">
                    #{{
                    tag }}</span>
                <div style="height: 3px"></div>
                }
            </span>
        </mat-card>
        }
    </div>
</div>
<div style="position: absolute; bottom: 40px; text-align: center; width: 100%; left: 0px; gap: 20px">
    @for (page of pagesArr; track page) {
    <span style="padding: 20px;">
        <span (click)="changePage(page)" style="cursor: pointer;">
            <span [style]="page === currentPage ? 'font-weight: bold;' : 'color: #888;'">{{page}}</span>
        </span>
    </span>
    }
</div>