<div style="position: absolute; top: 15px; right: 15px;">
    <a href="/home">
        <br>
        <button matButton color="warn" style="color: red; font-size: 1.1em;">Go Back</button>
    </a>
</div>
<div style="margin-left: 5%;">
    @if (invalidInfo.length > 0) {
    <div>
        <ul style="
        list-style-type: none;
        color: red;
        font-weight: bold;
        background-color: #f8d7da;
        border-radius: 5px;
        padding: 10px;
        width: 800px;
        margin: 0 auto;
        text-align: center;
    ">
            @for (message of invalidInfo; track message) {
            <li>{{ message }}</li>
            }
        </ul>
        <br>
    </div>
    }
    <h1 style="font-size: 2.5em; font-weight: bold;">Create a new event</h1>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div style="width: 100%;">
            <div style="width: min-content; text-align: left; margin-left: 10px;">
                <ng-picker-overlay [apikey]="FILESTACK_API_KEY" (uploadSuccess)="onUploadSuccess($event)">
                    @if (imgUrl) {
                    <img [src]="imgUrl" alt="Event Banner"
                        style="cursor: pointer; width: auto; height: 200px; object-fit: cover;" type="button">
                    } @else {
                    <button mat-stroked-button
                        style="width: max-content; margin-left: -12px; margin-top: -10px; font-size: 1em; color: greenyellow; border-style: dashed; border-radius: 15%; border-width: 2px;"
                        type="button">Choose Event
                        Banner</button>
                    }
                </ng-picker-overlay>
                @if (imgUrl) {
                <button matButton color="warn" (click)="removeImage()"
                    style="margin-left: 10px; font-size: 1em; color: red;" type="button">Remove Image</button>
                }
            </div>
            <br>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
            </mat-form-field>
            @if (eventForm.get('title')?.errors?.['required']) {
            <div style="width: 90%; color: #888; margin-top: -10px;">
                Title is required.
            </div>
            }
            <br>
            <div style="display: flex; width: 100%; gap: 20px;">
                <div style="width: 15%; display: flex; justify-content: space-between; align-items: center;">
                    <span>Virtual Event</span>
                    <mat-slide-toggle formControlName="isVirtual"></mat-slide-toggle>
                </div>
                <div style="width: 74%;">
                    <mat-form-field appearance="fill" style="width: 100%;  margin-bottom: -10px">
                        <mat-label>Tags</mat-label>
                        <input matInput formControlName="tags" placeholder="Tag 1, Tag 2, Tag 3" />
                    </mat-form-field>
                    @if (eventForm.get('tags')?.errors?.['hasDoubleCommas']) {
                    <div style="width: 90%; color: #888;">
                        Double commas are not allowed.
                    </div>
                    }
                    @if (eventForm.get('tags')?.errors?.['errorsWhenSplitting']) {
                    <div style="width: 90%; color: #888;">
                        Tags must follow the format 'Tag 1, Tag 2, Tag 3'.
                    </div>
                    }
                    @if (eventForm.get('tags')?.errors?.['startsWithComma']) {
                    <div style="width: 90%; color: #888;">
                        Tags list must not start with comma.
                    </div>
                    }
                    @if (eventForm.get('tags')?.errors?.['endsWithComma']) {
                    <div style="width: 90%; color: #888;">
                        Tags list must not end with comma.
                    </div>
                    }
                </div>
            </div>
            <br>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>{{eventForm.get('isVirtual')?.value ? "Meeting Link" : "Address"}}</mat-label>
                <input matInput formControlName="address" required>
            </mat-form-field>
            @if (eventForm.get('address')?.errors?.['required']) {
            <div style="width: 90%; color: #888; margin-top: -10px;">
                {{eventForm.get('isVirtual')?.value ? "Meeting Link" : "Address"}} is required.
            </div>
            }
            <br>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Describe your event</mat-label>
                <textarea matInput formControlName="description" required></textarea>
            </mat-form-field>
            @if (eventForm.get('description')?.errors?.['required']) {
            <div style="width: 90%; color: #888; margin-top: -10px;">
                Description is required.
            </div>
            }
            <br>
            <div style="width: 90%; display: flex; height: min-content;">
                <div style="width: 40%; display: flex; align-items: center;">
                    <mat-form-field style="margin-right: 30px;">
                        <mat-label>Start date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="startDate"
                            [(ngModel)]="startDateAndTime">
                        <mat-datepicker #datepicker />
                        <mat-datepicker-toggle [for]="datepicker" matSuffix />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Start time</mat-label>
                        <input matInput [matTimepicker]="timepicker" formControlName="startTime"
                            [(ngModel)]="startDateAndTime">
                        <mat-timepicker #timepicker />
                        <mat-timepicker-toggle [for]="timepicker" matSuffix />
                    </mat-form-field>
                </div>
                <div
                    style="width: 20%; text-align: center; font-size: 40px; margin: auto; font-weight: bold; padding-bottom: 10px;">
                    -</div>
                <div style="width: 40%; display: flex; align-items: center;">
                    <mat-form-field style="margin-right: 30px;">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="datepicker_" formControlName="endDate"
                            [(ngModel)]="endDateAndTime">
                        <mat-datepicker #datepicker_ />
                        <mat-datepicker-toggle [for]="datepicker_" matSuffix />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>End time</mat-label>
                        <input matInput [matTimepicker]="timepicker_" formControlName="endTime"
                            [(ngModel)]="endDateAndTime">
                        <mat-timepicker #timepicker_ />
                        <mat-timepicker-toggle [for]="timepicker_" matSuffix />
                    </mat-form-field>
                </div>
            </div>
            @if (eventForm.hasError('dateError')) {
            <div style="width: 90%; color: #888; margin-top: -10px;">
                Event must end after it begins.
            </div>
            }
        </div>
        <br>
        <div style="width: 90%; text-align: right;">
            <button mat-flat-button color="primary" type="submit" [disabled]="eventForm.invalid"
                style="border-radius: 10%; font-size: 20px;">Create Event</button>
        </div>
    </form>
</div>