<!-- Go Back Button -->
<div style="position: absolute; top: 15px; right: 15px;">
    <a href="/home">
        <br />
        <button matButton color="warn" style="color: red; font-size: 1.1em; background-color: white;">
            Go Back
        </button>
    </a>
</div>

<!-- Event Banner Image -->
<div style="text-align: center; margin-top: 30px; position: relative;">
    <img src="{{ this.event?.picture }}" style="max-height: 300px; width: auto; height: 100%; border-radius: 10px;"
        alt="Event Banner" />
    <div style="
            position: absolute;
            bottom: -8%;
            left: 7%;
            font-size: 2em;
            background-color: rgb(9, 9, 9);
            border-radius: 12px;
            padding: 10px;
        ">
        📅{{ this.event?.beginsAt | date }}
    </div>
    <div style="
            position: absolute;
            bottom: -8%;
            right: 7%;
            font-size: 2em;
            background-color: rgb(9, 9, 9);
            border-radius: 12px;
            padding: 10px;
        ">
        🕙{{ this.event?.beginsAt | date: 'h:mm a' }}
    </div>
</div>

<!-- Main Content Container -->
<div style="
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
        margin-top: 15px;
    ">
    <!-- Title + Tags Section -->
    <div style="
            padding: 20px;
            background-color: #191C1C;
            width: 85%;
            gap: 15px;
            padding-top: 0px;
            border-radius: 20px;
            position: relative;
        ">
        <h1 style="margin-bottom: 2px;">{{ title }}</h1>
        By {{ this.event?.organizerId?.name }}
        <br />
        <div style="height: 10px;"></div>
        @for (tag of event?.tags; track tag) {
        <span style="
                color: white;
                background-color: #3f51b5;
                padding: 2px 6px;
                border-radius: 5px;
                margin-right: 6px;
                font-size: 0.85em;
                white-space: nowrap;
            ">{{ tag }}
        </span>
        }
        <div style="position: absolute; top: 20px; right: 20px;">
            @if (!isOrganizer) {
            @if(!isRegistered) {
            @if (!hasRequestedToAttend) {
            <button mat-flat-button color="primary" (click)="registerForEvent()">
                Join Event
            </button>
            } @else {
            <button mat-flat-button color="primary" (click)="leaveEvent()">
                Leave Waiting List
            </button>
            }
            } @else {
            <button mat-flat-button color="primary" (click)="leaveEvent()">
                Leave Event
            </button>
            }
            } @else {
            <div style="text-align: right;">
                <button mat-flat-button color="primary" (click)="editEvent()">
                    Edit Event
                </button><br>
                <button mat-flat-button style="background-color: red; margin-top: 5px;" color="warn"
                    (click)="deleteEvent()">
                    Delete Event
                </button>
            </div>
            }
        </div>
    </div>

    <!-- About and Side Panel Section -->
    <div style="
            width: 87.8%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        ">
        <div style="flex: 1.7;">
            <div style="
                background-color: #191C1C;
                padding: 15px;
                border-radius: 20px;
                box-sizing: border-box;
                height: min-content;
            ">
                <span style="font-weight: bold; font-size: 1.15em;">About this event:</span>
                <br />
                {{ event?.description }}
            </div>
            <div style="
                margin-top: 15px;
                background-color: #191C1C;
                padding: 15px;
                border-radius: 20px;
                box-sizing: border-box;
                height: min-content;
                ">
                @if (canViewAttendees) {
                @if (attendeeIds.length === 0 && requestedAttendeeIds.length === 0) {
                <span style="font-weight: bold; font-size: 1.15em;">
                    No participants yet.
                </span>
                } @else {
                <span style="font-weight: bold; font-size: 1.15em;">Participants:</span>
                @if (attendeeIds.length === 0) {
                <br>
                <span style="font-size: 1.15em; color: #888;">
                    No participants yet.</span>
                }
                @for (attendee of attendeeIds; track attendee._id) {
                <div style="display: flex; justify-content: space-between; height: 30px">
                    <div style="display: flex; align-items: center; gap: 8px; margin-top: 5px;">
                        <img style="border-radius: 50%; height: 20px; width: 20px;" src="{{attendee.pfp}}">
                        <span style="font-size: 14px; width: max-content;">{{ attendee.name }}</span>
                    </div>
                    <div style="vertical-align: middle; height: 80%">
                        @if (isOrganizer) {
                        <button mat-button color="primary" style="font-size: 1em; height: 100%; margin-top: 8px;"
                            (click)="removeAttendee(attendee._id)" title="Remove Participant">❌</button>}
                    </div>
                </div>
                }
                @if (isOrganizer) {
                <div style="font-weight: bold; font-size: 1.15em; margin-top: 30px;">Join Requests:</div>
                @if (requestedAttendeeIds.length === 0) {
                <span style="font-size: 1.15em; color: #888;">
                    No requests yet.</span>
                } @else {
                @for (attendee of requestedAttendeeIds; track attendee._id) {
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center; gap: 8px; margin-top: 5px;">
                        <img style="border-radius: 50%; height: 20px; width: 20px;" src="{{attendee.pfp}}">
                        <span style="font-size: 14px; width: max-content;">{{ attendee.name }}</span>
                    </div>
                    <div style="vertical-align: middle; height: 100%">
                        <button mat-button color="primary" style="font-size: 1.3em;"
                            (click)="approveAttendee(attendee._id)" title="Accept Request">
                            <div style="margin-bottom: 10px;">✔️</div>
                        </button> / <button mat-button color="primary" style="font-size: 1em;"
                            (click)="removeRequestedAttendee(attendee._id)" title="Remove Request">
                            <div style="margin-bottom: 6px;">❌</div>
                        </button>
                    </div>
                </div>
                }
                }
                }
                }
                } @else {
                <span style="font-size: 1.15em; color: #888;">
                    {{!hasRequestedToAttend ? 'Register to view participants.' : 'Waiting for organizer approval to show
                    participants.'}}
                </span>
                }
            </div>

            <!-- Comments Section -->

            <div style="
                margin-top: 15px;
                background-color: #191C1C;
                padding: 15px;
                border-radius: 20px;
                box-sizing: border-box;
                height: min-content;
                ">
                @if (!isOrganizer && !isRegistered) {
                <span style="font-size: 1.15em; color: #888;">
                    Register to view comments.
                </span>
                } @else if (hasRequestedToAttend) {
                <span style="font-size: 1.15em; color: #888;">
                    Waiting for organizer approval to show comments.
                </span>
                } @else {
                <span style="font-weight: bold; font-size: 1.15em;">Comments:</span>
                <br>
                @if (comments.length === 0) {
                <span style="font-size: 1.15em; color: #888;">
                    No comments yet.
                </span>
                }
                <!-- New Comment Input -->
                <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; margin-top: 20px;">
                    <div style="flex: 4.5;">
                        <mat-form-field style="width: 100%; margin: 0;">
                            <input matInput [(ngModel)]="newCommentText" placeholder="Add a comment..."
                                style="height: 12px">
                        </mat-form-field>
                    </div>
                    <div style="flex: 1;">
                        <button mat-button color="primary" (click)="addComment(newCommentText)"
                            [disabled]=(!newCommentText) style="width: 100%; font-size: 1em;">
                            Add Comment
                        </button>
                    </div>
                </div>
                @if (comments.length !== 0) {
                @for (comment of comments; track comment) {
                <div style="margin-top: 10px; padding: 10px; background-color: #2c2f2f; border-radius: 10px;">
                    <div style="display: flex; align-items: center; gap: 8px;">
                        <img src="{{ comment.user.pfp }}" alt="👤"
                            style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;">
                        <span style="font-size: 16px; font-weight: bold;">{{ comment.user.name }} {{comment.user._id ===
                            userId ? '(You)' : ''}}</span>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="flex: 1;">
                            <span id="{{comment._id}}CommentTextDiv">{{ comment.text }}</span>
                            <div id="{{comment._id}}EditCommentDiv" hidden="true" style="margin-top: 5px;">
                                <div style="text-align: left; margin-left: 0px;">
                                    <mat-form-field style="margin-left: 0px;">
                                        <input matInput [(ngModel)]="commentEditText" placeholder="Edit Comment..."
                                            style="height: min-content;">
                                    </mat-form-field>
                                    <button mat-button color="primary"
                                        (click)="editComment(comment._id, commentEditText)"
                                        [disabled]="!commentEditText" style="font-size: 1.3em;"
                                        title="Save changes">✅</button>
                                </div>
                            </div>
                        </div>
                        <span style="display: flex; align-items: center; gap: 10px;">
                            <button mat-button color="primary" (click)="showAddReplyInput(comment._id)"
                                style="font-size: 0.9em;" title="Add reply">↪</button>
                            @if (isOrganizer || comment.user._id === userId) {
                            @if (comment.user._id === userId) {
                            <button mat-button color="primary" (click)="showEditCommentInput(comment._id)"
                                style="font-size: 0.9em;" title="Edit comment">✏️</button>
                            }
                            <button mat-button color="warn" (click)="deleteComment(comment._id)"
                                style="font-size: 0.9em;" title="Delete comment">🗑</button>
                            }
                        </span>
                    </div>
                    <div id="{{comment._id}}AddReplyDiv" hidden="true" style="margin-left: 35px;">
                        <span style="justify-content: space-between; display: flex">
                            <mat-form-field>
                                <input matInput [(ngModel)]="replyText" placeholder="Add a reply..."
                                    style="height: min-content;">
                            </mat-form-field>
                            <button mat-button color="primary" (click)="addReply(comment._id, replyText)"
                                [disabled]="!replyText" style="font-size: 0.9em;">Reply</button>
                            <span style="width: 30%"></span>
                        </span>
                    </div>
                    <div style="margin-left: 35px; font-size: 0.8em; gap: 10px; display: flex; flex-direction: column;">
                        @for (reply of comment.replies; track reply) {
                        <div>
                            <div style="display: flex; align-items: center; gap: 8px;">
                                <img src="{{ reply.user.pfp }}" alt="👤"
                                    style="width: 20px; height: 20px; border-radius: 50%; object-fit: cover;">
                                <span style="font-size: 16px; font-weight: bold;">{{ reply.user.name }} {{reply.user._id
                                    ===
                                    userId ? '(You)' : ''}}</span>
                            </div>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div style="flex: 1;">
                                    <span id="{{comment._id}}{{reply._id}}ReplyTextDiv">{{ reply.text }}</span>
                                    <div id="{{comment._id}}{{reply._id}}EditReplyDiv" hidden="true"
                                        style="margin-top: 5px;">
                                        <div style="text-align: left; margin-left: 0px;">
                                            <mat-form-field style="margin-left: 0px;">
                                                <input matInput [(ngModel)]="replyEditText" placeholder="Edit Reply..."
                                                    style="height: min-content;">
                                            </mat-form-field>
                                            <button mat-button color="primary"
                                                (click)="editReply(comment._id, reply._id, replyEditText)"
                                                [disabled]="!replyEditText" style="font-size: 1.3em;"
                                                title="Save changes">✅</button>
                                        </div>
                                    </div>
                                </div>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    @if (isOrganizer || reply.user._id === userId) {
                                    @if (reply.user._id === userId) {
                                    <button mat-button color="primary"
                                        (click)="showEditReplyInput(comment._id, reply._id)"
                                        style="font-size: 1.1em; width: min-content; height: min-content;"
                                        title="Edit reply">✎</button>
                                    }
                                    <button mat-button color="warn" (click)="deleteReply(comment._id, reply._id)"
                                        style="font-size: 1.1em; width: min-content; height: min-content;"
                                        title="Delete reply">🗑</button>
                                    }
                                </span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }
                }
                }
            </div>
        </div>
        <div style="
                flex: 1;
                background-color: #191C1C;
                padding: 15px;
                border-radius: 20px;
                box-sizing: border-box;
                height: min-content;
            ">
            <!-- Event Info -->
            <span style="font-weight: bold; font-size: 1.15em;">Event Type:</span><br>
            {{event?.isVirtual ? "Virtual" : "In-Person"}}
            <br><br>
            <span style="font-weight: bold; font-size: 1.15em;">{{event?.isVirtual ? 'Meeting Link' :
                'Location'}}:</span><br>
            @if (isRegistered || isOrganizer) {
            {{address}}
            } @else {
            <span style="color: #888;">{{!hasRequestedToAttend? 'Register to view this field.' : 'Waiting for
                organizer
                approval to show this field.'}}</span>
            }
            <br>
            <br>
            <span style="font-weight: bold; font-size: 1.15em;">Date & Time:</span><br>

            {{ this.event?.beginsAt | date }}, {{ this.event?.beginsAt | date: 'h:mm a' }}
            -
            {{ this.event?.endsAt | date }}, {{ this.event?.endsAt | date: 'h:mm a' }} ({{ this.event?.endsAt |
            date: 'ZZZZ' }})
            <br><br>
            <span style="font-weight: bold; font-size: 1.15em;">Organized by:</span><br>
            <div style="display: flex; align-items: center; gap: 8px; margin-top: 10px;">
                <img src="{{ event?.organizerId?.pfp }}" alt="👤"
                    style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
                <span style="font-size: 20px">{{ event?.organizerId?.name }}</span>
            </div>
        </div>
    </div>
</div>